@charset "utf-8";

.main{
    background-color: #b144b1;
    width: 800px
}

h1{
    color: white;
    text-align: center;
}

.bunbun{
    color: aqua;
    font-weight: 900;
    padding-left: 50px;
}

.pdfc{
    color: white;
    font-family: sans-serif;
    font-weight: 800;
    padding-left: 150px
}

.textpdf{
    color: #111;
    font-family: sans-serif;
    font-weight: 900;
    padding: 100px;
    text-decoration: none;
}

.textpdf:hover{
    text-decoration: underline;
}
